BODY { FONT-SIZE: 12pt; BACKGROUND: #eeeeff; MARGIN-LEFT: 3%; MARGIN-RIGHT: 3%; FONT-FAMILY: Arial }

DIV.centre { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; LEFT: 18px; PADDING-BOTTOM: 10px; MARGIN: 0px 20px 5px; WIDTH: 81%; PADDING-TOP: 30px; POSITION: absolute; TOP: 20px }

H1.title { MARGIN-TOP: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN-BOTTOM: 6pt; TEXT-ALIGN: center }
H2 { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: center }

H3 { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; TEXT-ALIGN: left }
H3.title { TEXT-ALIGN: center }
H3.meetingtitle { MARGIN-TOP: 6pt; MARGIN-BOTTOM: 4pt; COLOR: black }
H3.section { MARGIN-TOP: 6pt; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: left }
H3.minute { MARGIN-TOP: 6pt; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: left }

H4 { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: left }
H5 { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; COLOR: brown; TEXT-ALIGN: left }
H6 { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: left }

H4.author { TEXT-ALIGN: center }
H4.date { TEXT-ALIGN: center }
H4.heading { TEXT-ALIGN: center }
H5.heading { FONT-SIZE: 12pt; TEXT-ALIGN: center }
H5.subtitle { FONT-SIZE: 12pt; TEXT-ALIGN: center }

P { MARGIN-TOP: 8pt; FONT-WEIGHT: bold; FONT-SIZE: 13pt; MARGIN-BOTTOM: 8pt; TEXT-ALIGN: justify }
DD { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 2pt; TEXT-ALIGN: justify }
P.q { COLOR: black }
P.figure { TEXT-ALIGN: center }
P Q { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: brown; FONT-STYLE: italic }
P.note { FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: brown; FONT-STYLE: normal }

PRE.code { FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-LEFT: 12pt; COLOR: black; FONT-FAMILY: Courier; TEXT-ALIGN: left }
EM.rw { TEXT-DECORATION: underline }
EM { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-STYLE: normal }
OL { FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: normal; LIST-STYLE-TYPE: lower-alpha; TEXT-ALIGN: justify }
UL { FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: normal }
UL LI { FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: normal }
OL LI { FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: normal }
UL.headings LI { MARGIN-TOP: 2pt; MARGIN-BOTTOM: 2pt }
UL.headings LI:first-letter { FONT-SIZE: 16pt }
DT { MARGIN-TOP: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 4pt; COLOR: brown; TEXT-ALIGN: left }
TABLE { BORDER-RIGHT: brown 1px solid; BORDER-TOP: brown 1px solid; MARGIN-TOP: 4pt; FONT-SIZE: 12pt; BORDER-LEFT: brown 1px solid; BORDER-BOTTOM: brown 1px solid; BORDER-COLLAPSE: collapse; cell-spacing: 4% }
TD { BORDER-RIGHT: brown 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: brown 1px solid; PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 2pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: brown 1px solid; COLOR: black; PADDING-TOP: 2pt; BORDER-BOTTOM: brown 1px solid }
TD.num { TEXT-ALIGN: right }
TH { BORDER-RIGHT: brown 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: brown 1px solid; PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 17pt; PADDING-BOTTOM: 2pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: brown 1px solid; COLOR: white; PADDING-TOP: 2pt; BORDER-BOTTOM: brown 1px solid; TEXT-ALIGN: center; background: #00C0F0; }
TH.header{ background: white; color: #00c0f0; font-size: 18; }
TR { COLOR: black }
TABLE.ic TD.ty { BORDER-RIGHT: brown 1px solid; PADDING-RIGHT: 2pt; BORDER-TOP: brown 1px solid; PADDING-LEFT: 2pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 2pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: brown 1px; COLOR: #0c469c; PADDING-TOP: 2pt; BORDER-BOTTOM: brown 1px solid; TEXT-ALIGN: right }
TABLE.ic TD.tc { BORDER-RIGHT: brown 1px; PADDING-RIGHT: 2pt; BORDER-TOP: brown 1px solid; PADDING-LEFT: 6pt; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 2pt; VERTICAL-ALIGN: baseline; BORDER-LEFT: brown 1px solid; COLOR: #0c469c; PADDING-TOP: 2pt; BORDER-BOTTOM: brown 1px solid; TEXT-ALIGN: left }
DIV.bannertop { BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 3px 5px; BORDER-LEFT: black 1px solid; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 5px; HEIGHT: 30px; TEXT-ALIGN: center }
DIV.bannertop A:link { BACKGROUND: #037; COLOR: #fff; TEXT-DECORATION: none }
DIV.bannertop A:visited { BACKGROUND: #037; COLOR: #fff; TEXT-DECORATION: none }
DIV.bannertop A:active { BACKGROUND: #037; COLOR: #fff; TEXT-DECORATION: none }
DIV.bannertop { BACKGROUND: #037; COLOR: #fff; TEXT-DECORATION: none }
DIV.bannertop A:hover { BACKGROUND: #fff; COLOR: #037 }
DIV.bannertop EM { FONT-SIZE: 15pt; COLOR: #fff; TEXT-DECORATION: none }
DIV.bannertop A:hover EM { BACKGROUND: #fff; COLOR: #037 }
DIV.left { PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 140px; PADDING-TOP: 10px; POSITION: absolute; TOP: 20px; HEIGHT: 600px; BACKGROUND-COLOR: #fff }
H2.left { MARGIN-TOP: 8pt; FONT-SIZE: 11pt; MARGIN-BOTTOM: 4pt; COLOR: black; TEXT-ALIGN: left }
H3.left { MARGIN-TOP: 2pt; FONT-SIZE: 12pt; MARGIN-BOTTOM: 2pt; TEXT-ALIGN: left }
H3.lefttitle { MARGIN-TOP: 4pt; FONT-SIZE: 12pt; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 4pt; COLOR: blue; TEXT-ALIGN: left }
H2.left A:link { COLOR: black; TEXT-DECORATION: none }
H3.left A:link { COLOR: #0c469c; TEXT-DECORATION: none }
H2.left A:visited { COLOR: black; TEXT-DECORATION: none }
H3.left A:visited { COLOR: #0c469c; TEXT-DECORATION: none }
H2.left A:active { COLOR: #900; TEXT-DECORATION: none }
H3.left A:active { COLOR: #900; TEXT-DECORATION: none }
H2.left A:hover { COLOR: #aaaaff; TEXT-DECORATION: none }
H3.left A:hover { COLOR: #aaaaff; TEXT-DECORATION: none }
SPAN.symbol { FONT-FAMILY: Symbol }

@media Print    
{
DIV.bannertop { BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; DISPLAY: none; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 3px 5px; BORDER-LEFT: black 1px solid; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; POSITION: relative; TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center }
DIV.left { PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 0px; PADDING-TOP: 10px; POSITION: relative; TOP: 0px; HEIGHT: 0px; BACKGROUND-COLOR: #fff }
DIV.centre { PADDING-RIGHT: 5px; PADDING-LEFT: 5px; LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 12pt 20pt 5pt; WIDTH: 100%; PADDING-TOP: 10px; POSITION: relative; TOP: 0px }

}
